# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
servers.dat

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
mods
asm
saves
logs
crash-reports

logs/fml-client-1.log
assets/flagCache/1.png
logs/2014-11-07-1.log.gz
logs/2014-11-07-1.log.gz
logs/2014-11-07-1.log.gz
logs/fml-client-1.log
logs/2014-11-07-1.log.gz
logs/2014-11-07-1.log.gz
logs/fml-client-1.log
logs/fml-client-latest.log
logs/fml-client-1.log
*.gz
*.log
*.log
MineMenu/menu.json
options.txt
logs/latest.log
*.log
logs/latest.log